// $main-color-blue: #0977c0;
// $main-color-red: "red";

$navbar-orange: #dba919;
$base-page-white: #ecedee;

$white: #e8e8e8 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #101010 !default;

$primary: #dba919 !default;
$secondary: #35dedf !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #0085a1 !default;
$cyan: #17a2b8 !default;

$enable-rounded: false;
