.base-card {
  background-color: $black;
  border: 2px solid $white;
  color: $white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 30px;
  border-radius: 0;
  height: calc(100% - 30px);

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  &:hover .readMore:before {
    background: $white;
  }

  &-header {
    padding: 3px;
    padding-right: 7px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    border-bottom: 1px solid rgba($primary, 0.3);
  }

  &-city {
  }

  &-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $secondary;
  }

  &-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}
