.modal-backdrop {
  background-color: #333;
  &.show{
    opacity: 0.9;
  }
  
}

.modal-content {
  background-color: $black;
  border-radius: 0;
}

.modal-title {
  color: $secondary;
  font-weight: 700;
}

.modal-header {
  .close {
    opacity: 1;
    font-weight: normal;
  }
}

.modal-dialog {
  max-width: 800px;
}
