.editor-hovering-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
  & > * {
    display: inline-block;
  }
  & > * + * {
    margin-left: 15px;
  }
}

.blog-editor-page {
  blockquote {
    border-left: 2px solid $yellow;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: $gray-700;
    font-style: italic;
  }

  .controll-menu {
    text-align: right;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .title {
      float: left;
      font-weight: bold;
    }

    .status-box {
      margin-right: 10px;
      display: inline-block;
    }
  }
}
