// --------- Index Page ------------
.index-page {
  overflow: hidden;
  background: $black;

  .section-main {
    width: 100%;
    height: 101vh;
    display: flex;
    > .container {
      display: inline-flex;
      align-items: center;
    }
  }

  .welcome-block {
    &-text > h1 {
      text-transform: uppercase;
      font-size: 27px;
    }
    &-bio {
      margin-top: 20px;
    }
    &-wrapper {
      justify-content: flex-end;
      background: $black;
      padding: 20px 15px 10px;
    }
  }

  .section-about {
    min-height: 100vh;
    display: flex;
    opacity: 0;
    > .container {
      display: inline-flex;
      align-items: center;
    }
    .left-side {
      margin-top: 10vh;
    }

    // .fadein {
    //   opacity: 0;

    //   @include animation(fadein 2s);
    //   @include animation-fill-mode(forwards);
    // }

    .title {
      // @include animation-delay(0.7s);
      font-size: 42px;
      font-weight: bold;
    }

    .subtitle {
      // @include animation-delay(2.2s);
      font-size: 33px;
    }

    .subsubTitle {
      // @include animation-delay(3.6s);
      font-size: 18px;
    }

    // @keyframes fadein {
    //   from {
    //     opacity: 0;
    //   }
    //   to {
    //     opacity: 1;
    //   }
    // }
  }
}

@media only screen and (max-width: 430px) {
  .index-page {
    .welcome-block-text > h1 {
      font-size: 18px;
    }
    .welcome-block-bio > h2 {
      font-size: 20px;
    }

    .section-about {
      .title {
        font-size: 31px;
      }

      .subtitle {
        font-size: 20px;
      }
    }
  }
}
