.project-card {
  position: relative;
  .base-card-header {
    color: $secondary;
  }
  .project-skills {
    position: absolute;
    bottom: 0;
  }
}

.project-link:hover {
  text-decoration: none;
}
