@import "./shared/colors";
@import "./shared/mixins";

// Pages
@import "./index";
@import "./portfolios";
@import "./projects";
@import "./blogs";
@import "./cv";

@import "./effects/glitch";

// Components
@import "./components/header";
@import "./components/slate-editor";
@import "./components/modal";
@import "./components/card";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
  color: $white;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $secondary;
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

.base-page {
  padding: 150px 0 100px 0;
  background-color: $black;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.btn {
  background-color: $navbar-orange;
  border-radius: 0;
  margin: 5px 15px 5px 0px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border: none;
  &:hover {
    background-color: lighten($navbar-orange, 10);
    opacity: 1 !important;
    color: black;
  }
}

.close {
  color: $white;
  font-size: 3rem;
  line-height: 0.7;
  text-shadow: none;
  transition: opacity 0.3s;
  &:hover {
    color: #fff;
  }
}

.project-skills {
  list-style: none;
  padding: 0;
  &__item {
    display: inline-block;
    padding-right: 3px;
    &:nth-child(n + 2):before {
      content: "/";
      color: $primary;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.only-xs {
  display: none;
}

.hr {
  height: 1px;
  background: white;
}

@media only screen and (max-width: 430px) {
  .only-xs {
    display: initial;
  }
  .only-not-xs {
    display: none;
  }
}
